<h1>All Surgeries</h1>
<% @surgeries.each do |surgery| %>
  <section id="surgery-<%= surgery.id %>">
    <ul>
      <p><b>Surgery: <%=surgery.id%></b></p>
    </ul>
    <ul>
      <p>Surgery Title: <%= link_to surgery.title, "/surgeries/#{surgery.id}" %></p>
    </ul>
    <ul>
      <h4>Doctors on this Surgery</h4>
    </ul>
    <% surgery.doctors.each do |doctor| %>
      <ul>
        <%= doctor.name %>
      </ul>
    <% end %>
  </section>
  <br>
<% end %>
