<h1>Surgeries at <%= link_to @hospital.name, "/hospitals/#{@hospital.name}" %> </h1>
<%@ordered_by_room.each do |room_number, array_of_surgeries| %>
  <ul>
    <p><b>Operation Room: <%=room_number%></p></b>
  </ul>
  <section id="room-<%=room_number%>">
    <%array_of_surgeries.each do |surgery| %>
      <ul>
        <%= surgery.title %>
      </ul>
    <%end %>
  </section>
  <br>
<%end %>
